{% extends "auctions/layout.html" %} {% block body %} {% for i in watchlist %}

<div class="photo">
    <img src="{{i.picture.url}}" alt="">
</div>
<ul>
    <a href="{% url 'auction' i.id %}">
        <li class="p-2">{{i.title}}</li>
    </a>
    <a href="{% url 'categories' i.category %}">
        <li class="p-2">{{i.category}}</li>
    </a>
</ul>

<div class="mb-5 ml-2">
    <div class="p-2">{{i.description}}</div>
    <h5 class="p-2">£{{i.start_bid}}</h5>
</div>


{% empty %}

<p>You have no item on watchlist.</p>

{% endfor %} {% endblock %}